@font-face {
  font-family: 'PF Beau Sans Pro';
  font-display: swap;
  src: url("../fonts/PFBeauSansPro-Regular.eot");
  src: local("PFBeauSansPro-Regular"), url("../fonts/PFBeauSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Regular.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Regular.woff") format("woff"), url("../fonts/PFBeauSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Beau Sans Pro';
  font-display: swap;
  src: url("../fonts/PFBeauSansPro-Bold.eot");
  src: local("PFBeauSansPro-Bold"), url("../fonts/PFBeauSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Bold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Bold.woff") format("woff"), url("../fonts/PFBeauSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Beau Sans Pro';
  font-display: swap;
  src: url("../fonts/PFBeauSansPro-SemiBold.eot");
  src: local("PFBeauSansPro-SemiBold"), url("../fonts/PFBeauSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBold.woff") format("woff"), url("../fonts/PFBeauSansPro-SemiBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'PF Beau Sans Pro';
  font-display: swap;
  src: url("../fonts/PFBeauSansPro-Light.eot");
  src: local("PFBeauSansPro-Light"), url("../fonts/PFBeauSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Light.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Light.woff") format("woff"), url("../fonts/PFBeauSansPro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Izhitsa Cyrillic';
  font-display: swap;
  src: url("../fonts/izhitsa-cyrillic.ttf");
  src: local("Izhitsa Cyrillic"), url("../fonts/izhitsa-cyrillic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.block {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#mainBlock {
  height: 450px;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position-y: center;
}

#mainBlock .fire_1 {
  position: absolute;
  left: 50%;
  top: -15%;
  width: 350px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  z-index: 1;
}

#mainBlock .fire_2 {
  position: absolute;
  right: 0;
  top: 115px;
  width: 200px;
}

#mainBlock .fire_3 {
  position: absolute;
  left: 0;
  top: 170px;
  width: 200px;
}

#mainBlock .wrapper {
  position: relative;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

#mainBlock .wrapper a {
  text-decoration: none;
}

#mainBlock .wrapper a img {
  width: 75px;
  margin-left: 478px;
  margin-bottom: 10px;
}

#mainBlock .wrapper a h1 {
  margin: 0;
}

#mainBlock .wrapper h2 {
  font-size: 50px;
  margin: 10px 0;
}

#nav {
  height: 50px;
  background-color: #532700;
  border-top: #ffffff solid 3px;
  border-bottom: #ffffff solid 3px;
}

#nav .wrapper {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .wrapper img {
  width: 20px;
  margin: 0 20px;
}

#nav .wrapper img:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#nav .wrapper a {
  color: #ffffff;
  font-family: "Izhitsa Cyrillic";
  font-size: 24px;
  text-decoration: none;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#nav .wrapper a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#menuBlock {
  height: auto;
  background-image: url(../images/menuBg.jpg);
  background-size: cover;
  background-position-y: bottom;
}

#menuBlock .blackFilter {
  background-color: rgba(0, 0, 0, 0.3);
}

#menuBlock .blackFilter .popular {
  padding: 60px 40px 60px 40px;
  width: 1120px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#menuBlock .blackFilter .popular img {
  padding-left: 50px;
  width: 400px;
  height: 400px;
}

#menuBlock .blackFilter .popular .popularContainer {
  padding-top: 45px;
  margin: 0 auto;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#menuBlock .blackFilter .popular .popularContainer .header {
  font-family: "Izhitsa Cyrillic";
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#menuBlock .blackFilter .popular .popularContainer .description {
  margin-top: 15px;
  font-family: "PF Beau Sans Pro";
  text-align: center;
  color: #ffffff;
}

#menuBlock .blackFilter .popular .popularContainer .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0 auto;
  background-image: url("../images/menuButton.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 260px;
  text-decoration: none;
}

#menuBlock .blackFilter .popular .popularContainer .button .header {
  margin: auto;
  font-size: 48px;
}

#menuBlock .blackFilter .cardsWrapper {
  padding: 0 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#menuBlock .blackFilter .cardsWrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#menuBlock .blackFilter .cardsWrapper .card img {
  margin: 30px 0;
  width: 290px;
}

#menuBlock .blackFilter .cardsWrapper .card .cardHeader {
  color: #ffffff;
  text-align: center;
  font-family: "PF Beau Sans Pro";
  font-weight: bolder;
  font-size: 20px;
}

#menuBlock .blackFilter .cardsWrapper .card .cardDescriptor {
  width: 300px;
  color: #ffffff;
  text-align: center;
  font-family: "PF Beau Sans Pro";
  font-weight: lighter;
  font-size: 14px;
  margin: 15px auto 25px auto;
}

#menuBlock .blackFilter .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0 auto;
  background-image: url("../images/onlineZakaz.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 500px;
  text-decoration: none;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menuBlock .blackFilter .button .header {
  font-family: "Izhitsa Cyrillic";
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  line-height: 26px;
}

#footer {
  height: 50px;
  background-color: #000000;
  border-top: #ffffff solid 1px;
}

#footer .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#footer .wrapper .info {
  width: 150px;
  font-family: "PF Beau Sans Pro";
  font-weight: lighter;
  font-size: 12px;
  color: #ffffff;
  padding-left: 30px;
}

#footer .wrapper .links {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .wrapper .links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "PF Beau Sans Pro";
  font-weight: lighter;
  font-size: 12px;
}

#footer .wrapper .shares {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

#footer .wrapper .shares img {
  margin-left: 10px;
  height: 20px;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blackFilter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.mainHeader {
  padding-top: 180px;
}

.headerText {
  color: #d11315;
  font-family: "PF Beau Sans Pro";
  font-weight: bold;
  font-size: 120px;
  text-align: center;
  line-height: 80px;
}

.headerText-alt {
  color: #ffffff;
  font-family: "PF Beau Sans Pro";
  font-weight: normal;
}

.headerDescription {
  color: #ffffff;
  font-family: "Izhitsa Cyrillic";
  text-align: center;
  font-size: 44px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 960px;
  }
  #mainBlock .blackFilter .fire_2 {
    top: 199px;
    width: 150px;
  }
  #mainBlock .blackFilter .fire_3 {
    top: 212px;
    width: 170px;
  }
  #mainBlock .blackFilter .wrapper a img {
    margin-left: 355px;
  }
  #menuBlock .blackFilter .wrapper .popular {
    width: 880px;
  }
  #menuBlock .blackFilter .wrapper .popular img {
    padding-left: 20px;
    padding-right: 40px;
    width: 320px;
    height: 320px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer {
    padding-top: 0px;
    width: 410px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper .card {
    width: 280px;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper .card img {
    width: 200px;
    height: 200px;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper .card .cardHeader {
    font-size: 18px;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper .card .cardDescriptor {
    width: 260px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 640px;
  }
  #mainBlock .blackFilter .fire_1 {
    width: 200px;
    top: 40px;
  }
  #mainBlock .blackFilter .fire_2 {
    top: 250px;
    width: 120px;
  }
  #mainBlock .blackFilter .fire_3 {
    top: 282px;
    width: 120px;
  }
  #mainBlock .blackFilter .wrapper a img {
    margin-left: 195px;
  }
  #menuBlock .blackFilter .wrapper .popular {
    width: 560px;
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
  }
  #menuBlock .blackFilter .wrapper .popular img {
    display: none;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper {
    padding: 0 0 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper .card {
    margin-top: 20px;
  }
  #footer {
    padding-top: 20px;
    height: 80px;
  }
  #footer .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #footer .wrapper .info {
    width: 200px;
  }
  #footer .wrapper .links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .wrapper .links a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 480px;
  }
  #mainBlock {
    height: 250px;
  }
  #mainBlock .blackFilter .fire_1 {
    width: 150px;
    top: -20px;
  }
  #mainBlock .blackFilter .fire_2 {
    display: none;
  }
  #mainBlock .blackFilter .fire_3 {
    display: none;
  }
  #mainBlock .blackFilter .wrapper a img {
    width: 60px;
    margin-bottom: 0px;
    margin-left: 150px;
  }
  #mainBlock .blackFilter .wrapper a .headerText {
    font-size: 80px;
    line-height: 60px;
  }
  #mainBlock .blackFilter .wrapper .headerDescription {
    font-size: 34px;
    margin: 0;
  }
  #nav .wrapper a {
    font-size: 16px;
    margin: 0 15px;
  }
  #menuBlock .blackFilter .wrapper .popular {
    padding: 40px 0 0 0;
    width: 440px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer .description {
    width: 350px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer .button {
    width: 200px;
    margin-top: 10px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer .button .header {
    font-size: 32px;
  }
  #menuBlock .blackFilter .wrapper .button {
    width: 420px;
    margin: 10px auto 30px auto;
  }
  #menuBlock .blackFilter .wrapper .button .header {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 320px;
  }
  #mainBlock .blackFilter .wrapper a img {
    width: 40px;
    margin-left: 100px;
  }
  #mainBlock .blackFilter .wrapper a .headerText {
    font-size: 52px;
    line-height: 40px;
  }
  #mainBlock .blackFilter .wrapper .headerDescription {
    font-size: 22px;
  }
  #nav {
    height: 40px;
  }
  #nav .wrapper {
    width: 320px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #nav .wrapper img {
    display: none;
  }
  #nav .wrapper a {
    margin: 0 10px;
  }
  #menuBlock .blackFilter .wrapper .popular {
    width: 320px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer {
    width: 320px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer .header {
    font-size: 30px;
  }
  #menuBlock .blackFilter .wrapper .popular .popularContainer .description {
    width: 280px;
  }
  #menuBlock .blackFilter .wrapper .cardsWrapper {
    padding: 0;
  }
  #menuBlock .blackFilter .wrapper .button {
    width: 300px;
    margin: 0 auto 10px auto;
  }
  #menuBlock .blackFilter .wrapper .button .header {
    font-size: 16px;
  }
  #footer {
    height: 150px;
  }
  #footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .wrapper .info {
    padding: 0;
    text-align: center;
  }
  #footer .wrapper .links {
    width: 320px;
  }
  #footer .wrapper .shares {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .wrapper .shares a img {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */